<div class="m-4 row" >
  <div class="col-8 p-0"><h5>Listado de roles</h5></div>
  <div class="col-4 p-0 m-0" style="text-align: end;">
    <button class="btn btn-info m-1" style="color: white;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa fa-plus" aria-hidden="true" style="color: white;"></i>  Agregar rol
    </button>
  </div>
</div>


<!-- Modal para agregar rol -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Rol</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group mb-3">
            <label for="">Nombre del rol:</label>
            <input type="text" [(ngModel)]="rol.nombre" name="name" id="name" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group mb-3">
           <button (click)="GuardarRol(rol)" class="btn btn-success" data-bs-dismiss="modal" >Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Filtro por nombre de rol -->
<table class="table table-bordered m-4">
  <tbody>
    <tr>
      <td>
        <form class="form-inline">
          <div class="form-item form-group">
            <label for="filtroLegajo">Filtrar por Legajo UTN:</label>
            <input type="text" class="m-2" style="width: 99%;" id="filtroNombre" name="filtroNombre" placeholder="Buscá por nombre de rol">
          </div>
          <button type="button" class="btn btn-primary" (click)="BuscarPorNombreRol()">Buscar</button>
        </form>
      </td>
    </tr>

  </tbody>
</table>
<!-- Tabla con roles -->
<table class="table mt-4 mx-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre del rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rol of roles">
    <td>{{rol.id}}</td>
    <td>{{rol.nombre}}</td>
    <td>
      <button class="btn btn-warning m-1" (click)="ObtenerDatosRol(rol)" data-bs-toggle="modal" data-bs-target="#exampleModal1"><i class="fa fa-pencil" aria-hidden="true" style="color: white;"></i></button>
      <button class="btn btn-danger m-1" (click)="EliminarRol(rol)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
  </tr>

  </tbody>
</table>

<!-- Modal para editar rol -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Rol</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group mb-3">
            <label for="">Nombre del rol:</label>
            <input type="text" [(ngModel)]="rol.nombre" name="name" id="name" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group mb-3">
           <button (click)="ActualizarRol(rol)" class="btn btn-success" data-bs-dismiss="modal" >Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
