/* styles.css o styles.scss */
#menu .nav-link {
  color: black;
  text-decoration: none; /* Evita el subrayado predeterminado en los enlaces */
}

#menu .nav-link:hover {
  color: blue;
}

#menu .nav-link.active {
  color: blue;
  background-color: rgba(0, 0, 255, 0.1); /* Cambia el color de fondo al seleccionar */
}
